# For SerialInterfaceProviderFurnace
public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity litTime
public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity litDuration
public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity cookingProgress
public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity cookingTotalTime
